.body {
  color: #ffff
}

.jumbotron {
  border-radius: 0;
  text-align: center;
  background-image: url(../img/backgrounds/landing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;

}

#Breakfast {
  background-image: url(../img/foodtop/breakfast.jpg);
  height: 170px;
  width: 90Px;
background-size:  cover;
  text-align: center;
}

#Breakfast:hover {
  opacity: 0.3;
  background-color: white;
  color: black;
}

#Lunch {
  background-image: url(../img/foodtop/lunch.jpg);
  text-align: center;
  background-size:  cover;
}

#Lunch:hover {
  opacity: 0.3;
  background-color: white;
  color: black;
}

#dinner {
  background-image: url(../img/foodtop/dinner.jpg);
  text-align: center;
  font-size: 30px;
  background-size:  cover;
}

#dinner:hover {
  opacity: 0.3;
  background-color: white;
}

#HappyHour {
  text-align: center;
  background-size: 100% auto;
  font-size: 15px
}

#partytime {
  background-color: #F15A29;
  text-align: center;
  background-size: 100% auto;
}

.jumbotron-center {
  background-image: url(../img/backgrounds/foodsBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Email {
  background-color: red;
  align-self: center;
}

#subscribe {
  background-color: white;
  text-align: center;
  background-image: url(../img/backgrounds/subscribe.jpg);
  background-size:  cover;
}

#footer {
  background-color: #F15A29;
  margin-top: -50px;
  padding: 50px;
  text-align: center;

}
